*{
  padding: 0px;
}
.fct {
  padding: 0px;
 

}
.fct__wrapper{
  margin: 20px;
}


.fct__wrapper>h1
{
  font-family: 'Playfair Display', serif;
 
  color: white;
 
}
.fct__wrapper>li
{
  color: white;
}

/* @media only screen and (min-width: 1024px) {
  .fct__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .fct__item {
    margin-bottom: 2rem;
  }
} */