

.hero-container {
 height: 550px;
 background-color: rgb(68, 5, 54);
  background-repeat: no-repeat;
  background-size: cover;
 
  position:relative;
}
.header{
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
}
.sub-heading>p{
  color:white;
  margin-left: 30px;
}
.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 50px;
  margin-top: 15px;
  font-family: 'Playfair Display', serif;
}

.hero-btns {
  color: blue;
  font-size: 30px;
  width: 270px;
  height:140px;
  border: 2px solid black;
  position: absolute;
  padding-left: 10px;
  top: 0px;
  right: 0px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .header {
    font-size: 40px;
    margin-left:20px;
    
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .hero-btns
  {
    color: blue;
  font-size: 10px;
  width: 100px;
  height:100px;
  border: 2px solid black;
  position: absolute;
  padding-left: 10px;
  top: 0px;
  right: 0px;
  }

  .btn {
    width: 100%;
  }
}
