.commits {
    padding: 4rem;
    background: rgb(68, 5, 54);
  }
  .commits>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .commits>h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background: rgb(204, 83, 150);
    font-size: 40px;
    border-radius: 2%;
    height: 120px;
   
    padding-top: 10px;
  }
  
  
  .commits__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }
  
  .commits__wrapper { 
    position: relative;
    margin: 40px 0 40px;
  }
  
  
  .commits__items {
    margin-bottom: 10px 10px 10px 10px ;
  }
  .commits__items>section>p
  {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
  }
  .commits__items>section>div
  {
    border-radius: 2%;
    height:300px;
    padding-top: 5px;
    background-color: rgb(204, 83, 150);
    width: 370px;
   
    
    text-align: center;
    margin-left: 20px;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 20px 50px 10px 10px ;
    border-radius: 10px;
  }
  @media only screen and (min-width: 1024px) {
    .commits__items {
      display: flex;
    }
  }
  